@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    position: relative;
}

button, a {
    cursor: pointer;
}

li {
    list-style: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 80px 0;
}

h1, h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 24px;
    color: #dc143c;
}

img {
    width: 100%;
}

input {
    border: none;
    font-size: 12px;
    align-items: flex-end;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, span {
    text-align: center;
    line-height: 1.25;
}

.btn__style {
    color: white;
    background-color: #dc143c;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 50px;
    align-items: flex-end;
}

.btn__style:hover {
    text-decoration: underline;
    transition: all 300ms ease;
    background: hsl(0, 81%, 69%);
}

.title {
    color: #909090;
    font-weight: 800;
}

.section__description {
    color: #909090;
    font-size: 14px;
}

h3 {
    text-align: left;
    margin-bottom: 12px;
}
/* 

Nav

*/

.nav__logo--img {
    height: 120px;
}

nav {
    display: flex;
    height: 80px;
    padding: 12px 24px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__links {
    display: flex;
}

.nav__link {
    color: #909090;
    font-weight: bold;
    padding: 6px 12px;
    font-size: 16px;
    text-decoration: none;
    
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    background-color: #dc143c;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
}

.nav__link--primary:hover {
    text-decoration: underline;
}

/* 

Header

*/

header {
    margin-bottom: 20px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 24px 18px;
    width: 100%;
}

.header__row {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 24px;
}

.header__description {
    margin: 24px 0;
}

.header__search {
    border: 1px solid;
    padding: 12px 12px;
    border-radius: 60px;
    margin-bottom: 36px;
    transition: all 300ms ease;
    width: 60%;
}

.header__container--ill {
    width: 40%;
}


/* 

Brands

*/

.brand__subtitle {
    margin: 24px 0;
}

.brand__logos {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
}

.brand {
    width: 33.33%;
    margin-bottom: 24px;
    padding: 60px;
    display: flex;
    justify-content: center;
}

.brand__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

/*

News

*/

 .section__content {
    display: flex;
    margin: 12px 0;
    align-items: center;
 }

.section__description {
    padding-bottom: 36px;
}

 .section__content--description {
    width: 50%;
 }

 .section__title {
    text-align: left;
    margin: 18px 0;
 }

 .section__figure {
    width: 50%;
    display: flex;
    border: 0.5px solid var(#909090);
    border-radius: 15px;
    overflow: hidden;
    margin: 12px 18px;
 }

 /*

 Steps

 */

 .steps__numbers {
    display: flex;
    flex-direction: column;
 }

 .steps__number {
    display: flex;
    margin: 18px 0;
    max-width: 358px;
 }

 .number {
    font-size: 28px;
    color: #909090;
    font-weight: 700;
    margin-right: 8px;
 }

 .steps__content {
    padding: 0 8px;
    margin-top: 6px;
 }

 /*

 Values

 */

 .values__container {
    display: flex;
    margin-bottom: 36px;
 }

.values__content {
    padding-right: 18px;
}

 .values__header {
    display: flex;
    align-items: center;
 }

.values__icon {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
}

 .values__title {
    margin-top: 10px;
 }

 .afford__icon {
    color: rgb(103, 133, 97);
 }

 .afford__icon--container {
    background: rgb(215, 235, 211);
 }

 .pro__icon--container {
    background: rgb(235, 212, 211);
 }

 .pro__icon {
    color: rgb(131, 76, 76);
 }

 /*

 Process

 index is written as pricing 
 */

.pricing__subtitle {
    margin: 18px 0;
}

.price__header-para {
    max-width: 450px;
    text-align: center;
    margin-bottom: 28px;
}

.pricing__contents {
    display: flex;
    width: 100%;
    max-width: 824px;
    margin: 0 auto;
}

.pricing__content {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
    border: 0.1px solid #909090;
    border-radius: 20px;
    padding: 18px 0;
    text-align: center;
}

.pricing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0;
    padding: 0 8px;
}

.buying {
    font-size: 28px;
    font-weight: 700;
    margin: 8px 0;
    padding: 0 8px;
}

.pricing__description {
    margin: 12px 0;
    padding: 0 12px;
}

.pricing__btn {
    padding: 18px 0;
}

.price__btn {
    color: white;
}

.pricing__btn {
    background: #dc143c;
    padding: 8px 24px;
    border-radius: 50px;
    font-size: 10px;
    font-display: 700;
    transition: all 300ms ease;
}

.pricing__btn:hover, .price__btn:hover {
    background: hsl(0, 81%, 69%);
    text-decoration: underline;
}

/*

Testimonials

*/

.fa-star {
    color: #ffca74;
}

.testimonials__subtitle {
    margin: 12px 0;
}

.review__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(1.5);
    margin-right: 16px;
}

.review {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 24px;
}
.review__container {
    display: flex;
}

.review__name {
    font-size: 14px;
    margin-bottom: 0;
}

.review__position {
    font-size: 10px;
}

.review__arrow {
    margin-right: 5px;
}

.caret, .angle__down {
    font-size: 20px;
}

/*

FAQS

*/

.faqs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.faqs__header--para {
    margin-bottom: 18px;
    max-width: 460px;
    text-align: center;
}

.faqs__content {
    background:#c2c2c2;
    padding: 12px 24px;
    border-radius: 20px;
    max-width: 762px;
    margin: 12px 0;
}

.faqs__content--header {
    display: flex;
    justify-content: space-between;
}

/*

Developers SEction

*/

.developers__container {
    background: #909090;
    padding: 56px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.developers__title {
    color: white;
    font-size: 18px;
    max-width: 380px;
    text-align: left;
}

.developers__icon {
    margin-right: 8px;
    color: white;
    font-size: 12px;
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 300ms ease;
}

.developers__icon:hover {
    background: white;
    color: #909090;
    border-color: white;
    text-decoration: underline;
}

.developers__icon1 {
    background: #dc143c;
    border-color: #dc143c;
}

.developers__icon1:hover {
    background: hsl(0, 81%, 69%);
    border-color: hsl(0, 81%, 69%);
    color: white;
}

/* 

Footer

*/

footer {
    background-color: #909090;
}
.footer__contents {
    display: flex;
    width: 100%;
    margin-bottom: 18px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__content {
    width: 20%;
}

.footer__content--title, .footer__content--para, .footer__para {
    color: white;
}

.footer__content--title {
    text-align: left;
}

.footer__content--para {
    margin: 14px 0;
    font-size: 12px;
    display: block;
    padding: 3px 0;
    text-decoration: none;
}

.footer__content--para:hover {
    text-decoration: underline;
}

.footer__img {
    width: 100px;
    display: flex;
}

.footer__icon {
    background: white;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__icon--img {
    font-size: 10px;
}

.footer__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icons {
    display: flex;
}

.footer__icon {
    margin-left: 8px;
}

/*

Media screen 1

*/

@media only screen and (max-width: 1280px) {
    h1 {
        font-size: 32px;
    }

    .header__description {
        font-size: 14px;
    }

    .header__description {
        margin-top: 0;
        margin-bottom: 18px;
    }

    .header__container {
        width: 50%;
        padding-right: 36px;
    }

    .header__container--ill {
        width: 50%;
    }

}

@media only screen and (max-width: 1024px) {
    /*header {
        height: calc(130vh - 80px);
        margin-top: 8%;
    } */

    .header__row {
        flex-direction: column;
        align-items: center;
    }

    .header__container {
        align-items: center;
        padding-right: 0;
        width: 100%;
        max-width: 450px;
        margin-bottom: 28px;
    }

    .header__container--ill {
        max-width: 550px;
        width: 100%;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    .features__service {
        width: calc(100%/2);
        padding: 18px 8px;
        margin-bottom: 0;
    }

    .steps__number {
        margin: 10px 0;
    }

    .values__container {
        flex-direction: column;
        padding-right: 36px;
    }

    .values__contents {
        margin-bottom: 18px;
    }

    .pricing__contents {
        flex-direction: column;
        align-items: center;
    }

    .nav__link--hidden {
    display: none;
    }

    .menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    }

    .btn__menu {
    display: block;
    }

    .nav__link--login {
        margin-left: 0;
    }

    .developers__container {
        flex-direction: column;
        align-items: center;
    }

    .developers__title {
        text-align: center;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .header__container--ill, .section__figure, .section__content--description{
        max-width: 550px;
        width: 100%;
    }

    .header__email {
        display: none;
    }

    .header__email-sm {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        width: 100%;
        max-width: 320px;
    }

    .email__container {
        border: 1px solid ##909090;
        padding: 6px 12px;
        border-radius: 60px;
        transition: all 300ms ease;
        width: 100%;
        margin-bottom: 8px;
    }

    .email__container:hover {
        border-color: #c2c2c2;
    }

    .features__services {
        align-items: center;
        max-width: 300px;
    }

    .features__service {
        width: 100%;
    }

    .feature__para {
        margin-bottom: 18px;
    }

    .section__content, .steps__number {
        flex-direction: column;
        align-items: center;
    }

    h3, p, h4 {
        text-align: center;
    }

    .section__content--description {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    .section__content--sm-reverse {
        flex-direction: column-reverse;
    }

    .section__figure {
        margin-bottom: 36px;
    }

    .section__title, .section__para {
        text-align: center;
    }

    #steps .section__figure {
        margin-bottom: 0;
    }

    .steps__numbers {
        padding: 0 24px;
    }

    .steps__number {
        max-width: 200px;
        margin: 14px 0;
    }

    h3 {
        margin-bottom: 4px;
        font-size: 18px;
    }

    .number {
        line-height: 0.8;
    }

    .values__container {
        padding-right: 0;
        margin-bottom: 18px;
    }

    .values__header {
        justify-content: center;
    }

    .pricing__content {
        width: 100%;
        max-width: 282px;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .review {
        width: 100%;
    }

    .faqs__header--para {
        max-width: 300px;
    }

    .faqs__description {
        font-size: 12px;
        text-align: left;
        line-height: 2;
    }
    
    .footer__contents {
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .footer__content {
        width: 30%;
    }

    .footer__content--para {
        margin: 4px 3px;
    }

    .footer__description {
        flex-direction: column;
    }

    .footer__para {
        font-size: 10px;
        margin: 8px 0;
    }

}

@media only screen and (max-width: 550px) {
    .container {
        padding: 12px;
    }

    h1 {
        font-size: 24px;
    }

    .header__description, .section__description, .faqs__description, .footer__content--para {
        font-size: 12px;
    }

    .faqs__description {
        line-height: 1.5;
    }

    h2 {
        font-size: 20px;
    }

    .faqs__content--header h3{
        margin-right: 8px;
    }

    .review__img, .developers__icon {
        margin: 8px 0;
    }

    .features__service, .review, .review__container {
        flex-direction: column;
        align-items: center;
    }

    .developers__icons {
        display: flex;
        flex-direction: column;
    }

    .footer__contents {
        justify-content: center;
        margin-top: 10%;
    }
}